<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Админ панель</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet">
    <link rel="icon" href="/static/img/eye.png" type="eye.png">
</head>
<body>

<header class="header-admin">
    <div class="container">
        <div class="row">
            <div class=" col-md-2 col-sm-4 col-4 text-md-start  align-self-center">
                <img src="/static/img/logo.svg" alt="logo">
            </div>

            <div class=" col-md-4 text-md-start  text-sm-center text-center col-sm-8 col-8 ">
                <h1>Админ-панель</h1>
            </div>


            <div class=" col-md-2 col-sm-12 col-12 text-center align-self-center btn-header-admin">
                <form method="get" th:action="@{/admin/product/add}">
                    <input type="submit" value="Добавить товар">
                </form>
            </div>
            <div class=" col-md-2 col-sm-12 col-12 text-center align-self-center btn-header-admin">
                <form method="get" th:action="@{/admin}">
                    <input type="submit" value="Админка">
                </form>
            </div>
            <div class=" col-md-2 col-sm-12 col-12 text-center align-self-center btn-header-admin">
                <form th:method="POST" th:action="@{/logout}">
                    <input type="submit" value="Выйти из личного кабинета">
                </form>
            </div>
        </div>
    </div>

</header>

<div class="container">
    <div class=" col-md-12 col-sm-12 col-12 text-center align-self-center">
        <h4>Список пользователей:</h4>
    </div>
        <br>
        <div style="margin-top: 10px;" class=" col-md-2 col-sm-6 col-12 text-md-start align-self-center person-div" th:each="element : ${person}">
            <a class="btn btn-primary" th:href="@{/admin/person/info/{id}(id=${element.getId()})}" th:text="${element.getLogin()}"></a>
        </div>
</div>
</body>
</html>